/*      app.css        */
html {
  font-size: 25px;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 21px;
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: rgb(212, 40, 40);
  background-image: url(../../static/assets/img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1532px;
  padding: 0px 100px 0 150px;
}

.wrapper .main {
  margin-top: 50px;
  display: flex;
  gap: 130px;
}

@media screen and (max-width: 1280px) {
  .wrapper .main {
    gap: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper .main {
    gap: 100px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper .main {
    gap: 30px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper .main {
    justify-content: center;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 30px 50px 0 50px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 30px 20px 0 20px;
  }

  .wrapper .main {
    gap: 100px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding: 20px 30px 0 30px;
  }

  .wrapper .main {
    gap: 30px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding: 20px 10px 0 10px;
  }
}


/* index.css*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "K2D";
  src: local("K2D"),
    url("../../static/assets/fonts/K2D/K2D-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Mulish";
  src: local("Mulish"),
    url("../../static/assets/fonts/Mulish/Mulish-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Mulish";
  src: local("Mulish"),
    url("../../static/assets/fonts/Mulish/Mulish-Bold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../../static/assets/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../../static/assets/fonts/Montserrat/Montserrat-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../../static/assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../../static/assets/fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../../static/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../../static/assets/fonts/Montserrat/Montserrat-Black.ttf") format("ttf");
  font-weight: 900;
}