@import "../variables";

.about {
        margin-top: 70px;

        
        
        @media screen and (max-width: 640px) {
                background-image: url('../../assets/img/check.svg');
                background-repeat: no-repeat;
                background-size: cover;
        }

        &__main {

                &-text {
                        // font-family: "Montserrat"; Тут тупит, надо спросить
                        color: transparent;
                        font-weight: 900;
                        font-size: 70px;
                        text-align: center;
                        letter-spacing: 0.05em;
                        -webkit-text-stroke: 1px white;
                        margin: 0;

                        @media screen and (max-width: 1024px) {
                                font-size: 52px;
                        }

                        @media screen and (max-width: 780px) {
                                font-size: 45px;
                        }

                        &-span {
                                background: -webkit-linear-gradient(#00D17F, #0BFA63);
                                -webkit-background-clip: text;
                                -webkit-text-stroke: 4px transparent;
                                color: black;
                        }
                }

                @media screen and (max-width: 640px) {
                        display: none;
                }
        }

        &__btn {
                display: none;
                font-family: 'Mulish';
                font-weight: 700;
                font-size: $h5;
                color: #181818;


                @media screen and (max-width: 640px) {
                        display: block;
                        margin-top: 50px;
                }
        }

        &__container {
                // padding-left: 100px;
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
        }

        &__ears {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                font-size: $h2;

                &-cont {
                        width: 648px;
                        text-align: center;

                        @media screen and (max-width: 1024px) {
                                width: 525px;
                        }
                        @media screen and (max-width: 640px) {
                                width: 390px;
                        }
                }

                &-main {
                        color: white;
                        font-family: "Montserrat";
                        font-weight: 700;

                        p {
                                margin: 0;
                        }
                        @media screen and (max-width: 640px) {
                                font-weight: 900;
                        }
                }

                &-text {
                        color: white;
                        font-family: "Montserrat";
                        font-weight: 400;
                        letter-spacing: 0.05em;

                        p {
                                margin: 0;

                        }

                        @media screen and (max-width: 640px) {
                                font-weight: 500;
                                // color:red;

                        }
                        // width: 525px;



                }

                &-left {
                        transform: matrix(-0.85, 0.52, 0.52, 0.85, 0, 0);
                }

                .ears {
                        margin-top: 50px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 400px;
                        margin-left: 20px;

                        @media screen and (max-width: 1024px) {
                                gap: 370px;
                        }

                        @media screen and (max-width: 780px) {
                                gap: 330px;
                        }
                        @media screen and (max-width: 640px) {
                                gap: 210px;
                        }
                }
        }
}