@import '../variables';

.consultation {
    // padding-top: 30px;
    color: white;

    @media screen and (max-width: 780px) {
        margin-top: 103px;
    }
   
    &__cont {
        display: flex;

        @media screen and (max-width: 640px) {
            flex-direction: column;
            align-items: center;
        }
        &-info{
            display: flex;
            flex-direction: column;
            flex: 1;
            
            p{
                width: 353px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: $h2;
                letter-spacing: 0.05em;
                margin: 0;

                @media screen and (max-width: 1024px) {
                    width: 290px;
                    font-size: $h4;   
                }
                @media screen and (max-width: 640px) {
                    width: 383px;
                    text-align: center;  
                }
                
            }
            img {
                width: 220px;

                @media screen and (max-width: 780px) {
                    width: 165px;
                }
                @media screen and (max-width: 640px) {
                    display: none;
                }
            }
        }
        &-form{
            flex: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;
            
            @media screen and (max-width: 640px) {
                flex: 0;
                // align-items: center;
                // justify-content: center;
            }
            input,textarea {
                
                // width: 540px;
                height: 40px;
                background: #F3F4F6;
                border: 1px solid #000000;
                border-radius: 10px;
                padding-left: 20px;

                font-family: 'Montserrat';
                font-weight: 400;
                font-size: $h4;


                &::placeholder{
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: $h6;
                    letter-spacing: 0.05em;
                    color: #A5A5A5;
                    // padding-left: -50px;
                }
                &:nth-child(3){
                    height: 140px; 
                    word-break:keep-all;
                    @media screen and (max-width: 1024px) {
                        height: 110px;   
                    }
                }

                @media screen and (max-width: 640px) {
                    width: 380px;
                }

            }

            button {
                display: inline-block;
                align-self: flex-end;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: $h6;
                letter-spacing: 0.1em;
                color: #181818;
                background: $greenGradient;

                @media screen and (max-width: 640px) {
                    align-self: center;
                }
                
            }
        }
    }
        
}