@import "../variables";

.follow {
    // background-image: url(../assets/img/bgfooter.svg);
    display: none;
    &__cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: $h5;
            text-align: center;
            color: #FFF;
            width: 300px;
        }

        &-social{
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            gap: 50px;

            svg{
            cursor: pointer;

            }
            
        }
    }

    @media screen and (max-width: 780px) {
        display: block;
    }
}