@import '../variables';


.header {
    color: $white;


    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 90px;
        cursor: pointer;
        p {
            font-size: $h1;
            line-height: 30px;
            font-family: "K2D";
        }

        span {
            font-size: $h5;
            letter-spacing: 29%;
        }
    }

    &__about {
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;

            li {
                font-family: "Mulish";
                font-size: $h6;
                cursor: pointer;
                list-style: none;
            }
        }
        @media screen and (max-width: 640px) {
            display: none;
        }
    }


    .blur {
        position: absolute;
        width: 1076px;
        height: 506px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.26) 0%, rgba(217, 217, 217, 0) 100%);
        filter: blur(50px);
        left: 150px;
        top: -150px;
        z-index: -99;
    }

    .btn{

        @media screen and (max-width: 780px) {
            display: none;
        }

        &-phone{
            width: 50px;
            height: 50px;
            border-radius: 10px;
            border: 1px solid ;
            display: none;

            @media screen and (max-width: 780px) {
                display: block;
                cursor: pointer;
            }

            @media screen and (max-width: 640px) {
                display: none;
            }
            

        }
    }
    
    &__burger{
        display: none;
        cursor: pointer;
        @media screen and (max-width: 640px) {
            display: block;
        }
    }

}