@import '../variables';

.record {
    margin-top: 130px;
    
    &__main{
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;

        @media screen and (max-width: 1024px) {
            flex-direction: column;            
            gap: 50px;
        }
        @media screen and (max-width: 780px) {
            gap: 15px;
        }
        
        &-text{
            width: 600px;
            font-size: $h2;

            @media screen and (max-width: 1024px) {
                text-align: center;
            }
            
            @media screen and (max-width: 780px) {
                display: none;
            }

            &-phone{
                display: none;
                width: 300px;
                font-family: 'Montserrat';
                font-weight: 500;
                font-variant: small-caps;
                color: #181818;
                margin-left: 50px;
                p {
                    margin: 0;
                }
                @media screen and (max-width: 780px) {
                    display: block;
                    
                }
            }

            span {
                font-weight: 700;
            }
        }
        &-btn{
            
            color: #fff;

            @media screen and (max-width: 780px) {
                display: none;
            }
            &-sm{
                display: none;
                border: 1px solid $green;
                font-weight: 600;
                font-size: $h4;
                font-variant: small-caps;
                color: #181818;
                background-color: transparent;

                @media screen and (max-width: 780px) {
                    display: block;
                    
                }
            }
        }
    }
}