@import '../variables';

.cases {
    margin-top: 80px;

    @media screen and (max-width: 780px) {
        margin-top: 130px;
    }
    

    &__info {
        display: flex;

        &-btn {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;

            &s svg {
                margin: 20px 13px;
            }

            @media screen and (max-width: 640px) {
                display: none;
            }

            &-swipe{
                display: none;
                cursor: pointer;

                 @media screen and (max-width: 640px) {
                        display: block !important;
                 }
            }
        }


        &-text {
            flex: 1;
            font-size: $h2;
            font-family: 'Montserrat';
            font-weight: 700;
        }
    }

    &__list {
        display: flex;
        gap: 10px;
        overflow-x:visible;
        overflow-y: hidden;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    &__card {
        display: flex;

        min-width: 625px;
        min-height: 320px;
        background-color: #fff;
        border: 0.5px solid #E3E3E3;
        border-radius: 15px;    

        @media screen and (max-width: 640px) {
            min-width: 520px;
            min-height: 320px;
     }


        &-left {
            padding-top: 10px;
            flex: 2;

            &-stack {
                display: flex;

            }
        }

        &-right {
            padding-top: 10px;
            flex: 1;
        }


        // &-logo {}

        &-stack {
            padding-left: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            &-block {
                border-radius: 5px;
                background-color: #4B5563;
                color: #fff;
                font-size: $h6;
                font-family: 'Montserrat';
                font-weight: 500;
                padding: 0 5px;

            }
        }

        &-text {
            font-family: "Montserrat";
            margin: 7px 0px 0px 22px;
            font-weight: 400;
            letter-spacing: 0.05em;
            font-size: $h6;
        }
    }
}