@import "../variables";

.sidebar {
    width: 100px;

    @media screen and (max-width: 640px) {
        display: none;
    }
    

    &__contents{
        @media screen and (max-width: 780px) {
            margin-top: 70px;
        }
        display: flex;
        flex-direction: column;

        &-line{
            
            @media screen and (max-width: 780px) {
                display: none;
            }

            width: 130px;
            height: 0;
            border: 1px solid #FFFFFF;
            transform: rotate(90deg);
            margin-top: 100px;

            @media screen and (max-width: 780px) {
                width: 130px;
            }

            &:nth-child(1){
                margin-top: 50px;
                margin-bottom: 100px;
            }
            
        }
        &__social{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 38px;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            @media screen and (max-width: 780px) {
                margin-left: 0;
            }
        }
        &-pic {
            cursor: pointer;

            svg:hover{
                height: 40px;
                width: 40px;
                
                path {
                    fill: rgb(55, 234, 219);
                }
            }
        }
        
    }
}