$black: #000;
$lightBlack: #181818;
$darkGray: #4B5563;
$gray: #A5A5A5;
$darkWhite: #F3F4F6;
$white: #FFF;
$green: #00B76F;

$greenGradient: linear-gradient(#00D185 70%, #47F258); // background
$greenGradientBtn: linear-gradient(#00D17F, #0BFA63);
$greenCircles:linear-gradient(#00B76F, #fff 0%);
$whiteCircles:linear-gradient(#fff, #fff 0%);
$greenHighlight: radial-gradient(#02D77C, #D9D9D9 0%);

$h1: 1.602rem;
$h2: 1.266rem;
$h3: 1.125rem;
$h4: 1rem;
$h5: 0.889rem;
$h6:0.79rem;
